<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="http://thismyportfolio.netlify.app"
      target="_blank"
    >
      <img
        src="/img/logo.jpg"
        alt="kamoliddin"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Kamoliddin Site
    </a>
  </div>
</nav>